@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,500,600,700|Special+Elite');

:root {
  --primary-color1: rgb(4,127,184);
  --primary-color2: rgb(241,157,57);
  --primary-color3: rgb(243,196,101);
  --primary-text-color: grey;
  --secondary-text-color: white;
  --hover-text-color: rgb(203,211,207);
  --secondary-color1: rgb(185,212,73);
  --secondary-color2: rgb(82,132,184);
  --secondary-color3: rgb(67,74,76);
}
/* centering the page */
#wrapper{
  width: 800px;
  margin: 0 auto;
}

body{
  font-family: 'Special Elite', serif;
  color: var(--primary-text-color);
}
/*this formats the nav bar*/
.flex-container {
  display: flex;
  /* flex-flow: row no-wrap; */
  justify-content: space-around;
  width: 100%;
  flex-align: center;
  margin: 0 auto;
  background-color: var(--secondary-color2);
}
.flex-box {
  padding: 10px;
  font-size: 20px;
}
a {
  font-family: 'Special Elite', serif;
  text-decoration: none;
  color: var(--primary-color3);
  font-weight: bold;
}
a:hover{
  background-color: var(--hover-text-color);
}


/* Container holding the image and the text */
.picture-container {
  position: relative;
  text-align: center;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color2);
  font-size: 200px;
}
/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: 'Special Elite';
  color: var(--secondary-text-color);
  font-size: 50px;
}
/* The following is for the 3 articles */

  main {
    padding: 1.5em;
  }

  main article {
    float: left;
    border: 1px;
  }

  main article h2 {
    padding: 5px 0 0 0;
    margin: 20px;
    text-align: center;
    color: var(--secondary-text-color)
  }
  main article p {
    padding: 0 20px;
    font-family: sans-serif;
  }
  .articlehead1{
    background-color: var(--primary-color1);
  }
  .articlehead2{
    background-color: var(--primary-color2);
  }
  .articlehead3{
    background-color: var(--primary-color3);
  }
  .articlehead4{
    background-color: var(--secondary-color1);
  }
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
